<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringMVC03</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  	<!-- 配置编码过滤器，必须在所有 filter 之前 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 为 CharacterEncodingFilter 中的 encoding 赋值 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  	
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 设置 SpringMVC 配置文件的位置和名称 -->
		<init-param>
			<!-- 只能是 contextConfigLocation。对应的是 DispatcherServlet 里面的一个属性 -->
			<param-name>contextConfigLocation</param-name> 
			<!-- 指定配置文件位置在 classpath 下，即类路径下 -->
			<param-value>classpath:springMVC.xml</param-value>  
		</init-param>
		
		<!-- 设置 Servlet 的加载时间，默认是第一次访问的时候加载。若设置了 load-on-startup 则可以将 Servlet 加载时间提前到项目启动时 -->
		<!-- 标签中的值范围是整数，但是只有设置为正整数才有效果。负数和0都没有效果。正整数值越小，优先级越高 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 配置 HiddenHttpMethodFilter -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>