<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
    
	<span th:include="~{include/include::basicCss}"></span>
	<link rel="stylesheet" href="css/login.css" th:href="@{/static/css/login.css}">
	<style>

	</style>
  </head>
  <body>
  
    <span th:include="~{include/include::#basicNavbar}"></span>

    <div class="container">
      <form class="form-signin" role="form" action="/doLogin" method="post" id="loginForm">
        <h4 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户登录</h4>
        <span th:text="${message}"> </span>
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" id="inputSuccess4" name="loginacct" th:value="${param.loginacct}" placeholder="请输入登录账号" autofocus>
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		  </div> 
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" id="inputSuccess4" name="password" placeholder="请输入登录密码" style="margin-top:10px;">
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
			<select class="form-control" >
                <option value="member">会员</option>
                <option value="user">管理</option>
            </select>
		  </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
          <br>
          <label>
            忘记密码
          </label>
          <label style="float:right">
            <a href="reg.html">我要注册</a>
          </label>
        </div>
        <a class="btn btn-lg btn-success btn-block" onclick="dologin()" > 登录</a>
      </form>
    </div>
   
   <span th:include="~{include/include::basicScript}"></span>
   
    <script>
    function dologin() {
        $("#loginForm").submit()
    }
    </script>
  </body>
</html>