<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 基本 css 信息 -->
	<span th:fragment="basicCss">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/static/css/font-awesome.min.css}">
		<link rel="stylesheet" href="css/carousel.css" th:href="@{/static/css/carousel.css}">
		<link rel="stylesheet" href="css/theme.css" th:href="@{/static/css/theme.css}">
	</span>
	
	<!-- 基本 javaScript 信息 -->
	<span th:fragment="basicScript">
		<script src="jquery/jquery-2.1.1.min.js" th:src="@{/static/jquery/jquery-2.1.1.min.js}"></script>
	    <script src="bootstrap/js/bootstrap.min.js" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
		<script src="script/docs.min.js" th:src="@{/static/script/docs.min.js}"></script>
	    <script src="script/back-to-top.js" th:src="@{/static/script/back-to-top.js}"></script>
	</span>
	
	<!-- footer 信息 -->
	<div class="container" id="basicFooter">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div id="footer">
					<div class="footerNav">
						 <a rel="nofollow" href="http://www.atguigu.com">关于我们</a> | <a rel="nofollow" href="http://www.atguigu.com">服务条款</a> | <a rel="nofollow" href="http://www.atguigu.com">免责声明</a> | <a rel="nofollow" href="http://www.atguigu.com">网站地图</a> | <a rel="nofollow" href="http://www.atguigu.com">联系我们</a>
					</div>
					<div class="copyRight">
						Copyright ?2017-2017atguigu.com 版权所有
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- 导航栏目信息 -->
	<div class="navbar-wrapper"  id="basicNavbar">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="#" th:href="@{/}" style="font-size:22px;">尚筹网-创意产品众筹平台</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" style="float:right" th:if="${session.memeber} == null">
	              <ul class="nav navbar-nav navbar-right">
	                <li><a href="" th:href="@{/login}">登录</a></li>
	                <li><a href="" th:href="@{/register}">注册</a></li>
	              </ul>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse" style="float:right" th:if="${session.memeber} != null">
	              <ul class="nav navbar-nav">
	                <li class="dropdown">
	                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> [[${session.memeber.username}]] <span class="caret"></span></a>
	                  <ul class="dropdown-menu" role="menu">
	                    <li><a href="member.html"><i class="glyphicon glyphicon-scale"></i> 会员中心</a></li>
	                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
	                    <li class="divider"></li>
	                    <li><a href="" th:href="@{/doLogout}"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
	                  </ul>
	                </li>
	              </ul>
	            </div>
			  </div>
			</nav>
	    </div>
    </div>
      
</body>
</html>